@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* iOSで薄くなるのを防止 */
input,
button,
textarea {
  color: #000000;
}

::placeholder {
  color: #666666;
}

/* 結果エリア文字 */
.result-text {
  color: #000000;
}

/* スライダー説明など */
label,
p,
span {
  color: #ffffff;
}
